CommandLineConsoleFrontier/Service References/ConsoleServiceReference/ConsoleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandLineConsole.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandLineConsole.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommandType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandType" nillable="true" type="tns:CommandType" />
</xs:schema>